<article>
    <h1>#! /Blog/tech & { Trips  }</h1>
    <p>De la tech des trips bienvenue sur Blog & Trips et bonne lecture.
    Welcome to les méandres de ma mémoire <strong>in memory</strong>
    Voici le blog d'un blogger dev à son temps perdu.<%= @title %></p>
    
</article>